@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --color-custom-Blue-600: hsl(231, 69%, 60%);
  --color-custom-Red-400: hsl(0, 94%, 66%);
  --color-custom-Grey-50: hsl(0, 0%, 97%);
  --color-custom-Blue-950: hsl(229, 31%, 1%);

  --font-rubik: "Rubik", sans-serif;
}
